<h1>Task manager</h1>

<%= link_to "Add a new task", new_task_path %>

<% @tasks.each do |task| %>
  <h2> <%= task.name %> </h2>
  <p> <%= task.description %> </p>
  <%= link_to "Check", task_path(task) %>
  <%= link_to "Delete", task_path(task), method: :delete %>
<% end %>
